blinker==1.8.2
cachelib==0.9.0
click==8.1.7
Flask==3.0.3
Flask-Caching==2.3.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
numpy==2.1.1
packaging==24.1
pandas==2.2.3
psycopg2-binary==2.9.9
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
setuptools==75.1.0
six==1.16.0
SQLAlchemy==1.4.54
sqlalchemy-redshift==0.8.14
typing_extensions==4.12.2
tzdata==2024.2
Werkzeug==3.0.4
