<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SOTE NEWS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Gravitas+One&family=Rozha+One&display=swap" rel="stylesheet">
</head>
<body>

    <!-- Sticky Bar for Hamburger Menu, Search, and Side Menu -->
    <div class="sticky-bar">
        <!-- sticky bar title -->
        <h1 class="sticky-title">sote</h1>
        <!-- Hamburger Menu -->
        <div class="hamburger-menu" id="hamburger-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>

        <!-- Search Icon -->
        <div class="search-container" id="search-container">
            <i class="fa-solid fa-magnifying-glass" id="search-icon"></i>
            <input type="text" id="keyword-input" class="search-box hidden" placeholder="Search...">
            <i class="fa-solid fa-x hidden" id="clear-icon"></i>
        </div>

        <!-- Sidebar Menu inside the Sticky Bar -->
        <div id="side-menu" class="side-menu">
            <h1>Topics</h1>
            <ul>
                <li class="topic-item" data-topic="all">All</li>
                {% for topic in topics %}
                    <li class="topic-item" data-topic="{{ topic }}">{{ topic }}</li>
                {% endfor %}
            </ul>
            <h1 class="menu-sources">Sources</h1>
            <ul>
                <li class="source-item" data-source="all">All</li>
                <li class="source-item" data-source="BBC News">BBC News</li>
                <li class="source-item" data-source="Columbia Climate School">Columbia Climate School</li>
                <li class="source-item" data-source="Earth911">Earth911</li>
                <li class="source-item" data-source="Greenpeace">Greenpeace</li>
                <li class="source-item" data-source="Grist">Grist</li>
                <li class="source-item" data-source="The Guardian">The Guardian</li>
                <li class="source-item" data-source="The Independent">The Independent</li>
                <li class="source-item" data-source="Yale Environment 360">Yale Environment 360</li>
            </ul>
        </div>
    </div>

    <div id="content-wrapper">
        <header>
            <div class="header-inner">
                <h1 class="logo">sote news</h1>
            </div>
        </header>
        <main>
            <section class="article-list">
                <!-- Articles Container -->
                <div id="articles-container" class="article-grid"></div>

                <!-- Pagination -->
                <div id="pagination">
                    <button id="prev-page" class="pagination-btn">Previous Page</button>
                    <span id="page-numbers"></span>
                    <button id="next-page" class="pagination-btn">Next Page</button>
                </div>
            </section>
        </main>
    </div>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>